@import 'tailwindcss';

@theme {
  --default-font-family: 'Open Sans', sans-serif;

  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;

  --color-danger-500: #b12c4d;

  --color-blue-500: #2c46b1;
  --color-blue-700: #2c4091;

  --text-xss: 0.625rem; /* 10px */
}
